h1 {
    font-size: 63px;
    padding: 15px;
    color: darkorchid;
    padding: 25px;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkorchid;
    font-weight: 600;
}

img{
    width: 90%;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: darkorchid;
}

tr:nth-child(odd) {
    background-color: #ED0000;
}