h1 {
    font-size: 63px;
    padding: 15px;
    color: darkorchid;
    padding: 25px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkorchid;
    font-weight: 600;
}

img{
    width: 90%;
}

.carousel, .caption, h5{
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}
